<div class="container-sm my-3">
  <div class="card shadow rounded col-md-4 offset-md-4 col-sm-12">
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <div class="card-text">
