@import "~bootstrap/scss/bootstrap";

// Color Pallete:
// https://coolors.co/a4243b-fce4d8-c47ac0-0f7173-1a090d

$messagebox-red: #A4243B;
$messagebox-pink-light: #FC3FD8;
$messagebox-pink-dark: #C47AC0;
$messagebox-blue: #0F7173;
$messagebox-black: #1A090D;

body {
  background-color: $messagebox-red;
}

.page-header {
  font-family: 'Press Start 2P', cursive;
}

.message-text {
  font-family: 'VT323', monospace;
  background: $messagebox-black !important;
  color: white !important;
  width: 24em !important;
  height: 10em !important;
}

#message_canvas {
  border: 1px solid black;
}

#tui-image-editor {
  min-height: 400px;
}

.tui-image-editor-header {
  display: none;
}

.tui-image-editor-main {
  top: 0;
}

.tui-image-editor-menu {
  column-count: 6;
  overflow-y: scroll;
  white-space: normal !important;
}

.tui-image-editor-item {

}
